import 'package:commons/commons.dart';
import 'package:flutter_test/flutter_test.dart';

void main() {
  test('extends [ModuleInstaller]', () {
    // update the actual value with the [ModuleInstaller] implementation.
    final actual = null;
    expect(actual, isA<ModuleInstaller>());
  });
}
